# LOGS
*.log
logs

# DEPENDENCIES
jspm_packages/
node_modules/

# CACHE
.cache/
*.tsbuildinfo
.stylelintcache
.eslintcache
.parcel-cache
.cache
.npm

# NPM
*.tgz

# DOTENV
.env.*.local
.env

# TEMP
temporary/
temp/

# EXTENSIONS
*.vsix

# PRODUCTION
origin/
output/
build/
dist/
out/
